<h3>Hi {{user.displayName}}! Welcome to Strally!</h3>
<h4 style="text-indent: 50px;">This is a site where you can challenge your friends to compete with you in a series of segment challenges! All you need to do is star the segments in strava you wish to include in a race.  Then come here and add the segments and the time of your race and shabang!!! your race is created.  All you need to do then is tell your friends to come here and register for your race and our site will make the nessessary api calls to grab all your efforts and put them in to our leaderboard!<br></h4>
<img id="biker" src="assets/images/strava_biker.jpg" alt="image of a cyclist on a lonely road" />
