<h3>Hi {{user.displayName}}! Welcome to Strally!</h3>
<p> With Strally, you and your friends can create your own custom races using Strava's starred segment feature </p>

{{#link-to 'starred'}}your starred segments{{/link-to}}
