<table cellspacing=0>
  <tr>
    <th><div>Segment Name</div></th>
    <th><div>Distance</div></th>
  </tr>
  {{#each raceBucket.segments as |segment|}}
    <tr>
      <td><div>{{segment.name}}</div></td>
      <td><div>{{segment.distance}} Meters</div></td>
      <td><div><button {{action 'removeFromRace' segment}}>Remove</button></div></td>
    </tr>
  {{/each}}

</table>
