
table {
  border-bottom: 1px solid black

}

tr:hover {
  background-color: lightgray;
  cursor: pointer;
}

tr:nth-child(1):hover {
  background-color: white;
  cursor: auto;
}

th {
  text-align: left;
  border-bottom-style: double;
  margin-right: 40px;
}

th div, td div {
  margin-right: 2em;
}

button {
  cursor: pointer;
}
.headerDiv {
  border-bottom-style: double;
}
