{{#if model.user}}
  <p>Hello {{model.user.displayName}}</p>
{{else}}
  <p>{{#link-to 'login'}}<img src="assets/images/ConnectWithStrava2x.png" alt="log in with strava button">{{/link-to}}</p>
{{/if}}
