{{#if model.user}}
  {{landing-page-logged-in user=model.user}}
{{else}}
  <p>{{#link-to 'login'}}<img src="assets/images/ConnectWithStrava2x.png" alt="log in with strava button">{{/link-to}}</p>
{{/if}}
