<h2>what race would you like to join?</h2>
<ul>
  {{#each model.races as |race|}}
    {{race-tile race=race enterRace='enterRace'}}
  {{/each}}
</ul>
<h2>races you've joined</h2>
{{my-races-lists races=model.currentUser.races}}
