<h4>Add the segments you would like to be in your race</h4>
<hr>
<div class="row">
{{#each model.starred as |segment|}}
  {{segment-tile segment=segment}}
{{/each}}
</div>
<br>
{{race-bucket-display class='race-bucket-display' createRace='createRace'}}
